 <div id="wrapper">
      <h1 class="text-center">Note Scraper</h1>
      <br>
    <h3 class="text-center"><a href="/articles">View Articles</a></h3>
    <br>
    <h3 class="text-center"><a href="/scrape">Scrape New Articles</a></h3>
    </div>
    